.App {
  text-align: center;
}

.guess {
  width: 400px;
  height: 80px;
  border: 1px solid black;
  margin: auto;
  display: flex;
}

.letter {
  width: 60px;
  margin: 0 8px;
  border: 1px solid blue;
}

.active {
  border: 2px solid red;
}
